img {
    height: 500px; /* Мінімальна висота */
    background-color: #f0f0f0; /* Фоновий колір */
    display: block;
    width: 1000px;
    transition: opacity 0.5s ease; /* Анімація при завантаженні */
    opacity: 0; 
    margin-top: 300px;
  }
  img.loaded {
    opacity: 1; /* Зображення повністю видиме після завантаження */
  }
  .image-container {
    margin: 20px 0;
  }